// Importat to use 

$font-stack: Helvetica,
sans-serif;
$primary-color: #2ba6cb;




@font-face {
    font-family: "PlantinMTProBold";
    src: url("/font/PlantinMTPro/PlantinMTProBold.TTF");
}

@font-face {
    font-family: "PlantinMTProBoldIt";
    src: url("/font/PlantinMTPro/PlantinMTProBoldIt.TTF");
}

@font-face {
    font-family: "PlantinMTProCnBd";
    src: url("/font/PlantinMTPro/PlantinMTProCnBd.TTF");
}

@font-face {
    font-family: "PlantinMTProLight";
    src: url("/font/PlantinMTPro/PlantinMTProLight.TTF");
}

@font-face {
    font-family: "PlantinMTProLightIt";
    src: url("/font/PlantinMTPro/PlantinMTProLightIt.TTF");
}

@font-face {
    font-family: "PlantinMTProRg";
    src: url("/font/PlantinMTPro/PlantinMTProRg.TTF");
}

@font-face {
    font-family: "PlantinMTProRgIt";
    src: url("/font/PlantinMTPro/PlantinMTProRgIt.TTF");
}

@font-face {
    font-family: "PlantinMTProSemiBdIt";
    src: url("/font/PlantinMTPro/PlantinMTProSemiBdIt.TTF");
}

@font-face {
    font-family: "PlantinMTProSmBd";
    src: url("/font/PlantinMTPro/PlantinMTProSmBd.TTF");
}

body {

    padding: 0rem;
    margin: 0rem;

    #input {
        display: grid;
        gap: 1rem;
    }



    #hint-url {
        font-family: "PlantinMTProRgIt";
        font-size: clamp(0.88rem, calc(0.78rem + 0.49vw), 1.13rem);
        text-align: center;
        color: white;
    }

    span {
        font-weight: 700;
        line-height: 1;
        margin-bottom: 5px;
        display: grid;
        gap: 5px;
        font-family: $font-stack;
    }


    button {
        color: #212121;
        border: 1px solid #21212133;
        background: #0A5529;
        font-weight: 600;
        color: #fff;
        margin-left: 0.5rem;
        padding: 17px 12px 17px;
        border-radius: 7px;
    }

    input {
        -webkit-appearance: none;
        appearance: none;
        color: #212121;
        border: 1px solid #0A5529;
        padding: 17px 78px 17px;
        border-radius: 7px;
        outline: none;
        caret-color: rebeccapurple;
        font-size: 14px;
        position: relative;
        font-family: "PlantinMTProRg";
        text-align: center;
    }

    input:focus {
        border-color: #0A5529;
    }

    // img {
    //     width: 100%;
    //     height: 50vh;
    //     object-fit: cover;
    //     // background-color: $primary-color;
    // }



    .error {
        opacity: 0;
        visibility: hidden;
        font-weight: bold;
        color: crimson;
        max-height: 0;
        transition: .3s max-height;
    }
}

// this is the naviagtion 

nav {
    padding: 15px;
    // background-color: #ffc025;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 100%;
        height: auto;
        padding: 5px 10px;
    }

    .ul {
        display: flex;
        list-style-type: none;
        padding: 0px;
        justify-content: space-between;
    }

    li {
        padding: 5px 10px;

    }

    li a {
        color: white;
        text-decoration: none;
        font-family: "PlantinMTProRg";
    }
}






// this is the logic of CSS to know is the link is the correct one or not 

input:not(:focus, :placeholder-shown):invalid~.error {
    opacity: 1;
    visibility: visible;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    color: red;
    max-height: 2rem;
    animation: shake .125s 2 backwards;
}

input:not(:focus, :placeholder-shown):invalid {
    border: 2px solid red;
    box-shadow: 0 0 0 1px #ffc025;
    background-position: right 16px center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}


input:valid:not(:placeholder-shown, :focus) {
    border: 2px solid #0D8D42;
}

// this is the loadingscreen
#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}


#loading.display {
    visibility: visible;
    background-color: #f3f3f3;
}



@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

// this is the for small text that is underneath when you don`t insert the correct link

@keyframes shake {
    25% {
        transform: translateX(-6px);
    }

    75% {
        transform: translateX(6px);
    }
}


// this is the form

form {

    margin-top: 5.5rem;

    // background-color: #ffc025;

    .header_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
    }

    .header_text h1 {
        font-size: clamp(1.88rem, calc(1.27rem + 3.05vw), 3.44rem);
        font-family: "PlantinMTProRg";
        color: white;
        padding: 0rem;
        margin: 0rem;
    }

    .header_text p {
        width: 65%;
        font-size: clamp(1.13rem, calc(0.83rem + 1.46vw), 1.88rem);
        text-align: center;
        font-family: "PlantinMTProRg";
        color: white;
        margin-bottom: 0rem;
    }

    .input {
        margin: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


//section with numbers 

#section_with_numbers {
    width: 100%;
    height: 100vh;
    font-family: "PlantinMTProRg";
    color: white;
    background: linear-gradient(180deg, #338c39 0%, #08351B 96.87%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem;
    margin: 0rem;

    .is_website_green_container h2 {
        margin-bottom: 1rem;
    font-size: 3rem;
    }

    .is_website_green_container .is_website_green span {
        text-align: center;
        font-size: 1.5rem;
        color: white;
        font-family: "PlantinMTProRg";
    }

    h3 {
        font-size: clamp(0.81rem, calc(0.69rem + 0.61vw), 1.13rem);
    }

    .section_with_numbers_containers {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 10rem;
    }

    .section_with_numbers_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border: 1px solid white;
        margin: 1rem;
        font-size: clamp(1.88rem, calc(1.39rem + 2.44vw), 3.13rem);
    }

    .section_with_numbers_container h3 {
        width: 50%;
        text-align: center;
        font-size: 1.13rem;
        font-family: Arial;
        font-weight: 400;
        margin: 0rem;
    }

    #for_border {
        border-left: 3px solid white;
        padding-left: 10rem;
        border-right: 3px solid white;
        padding-right: 10rem;
    }

}


#header {
    width: 100%;
    height: 100vh;
    z-index: -1;
    left: 0;
    top: 0;
    position: absolute;
    object-fit: cover;
}

.backgroundimage {
    width: 100%;
    height: 48vh;
    z-index: -1;
}




//your score
#your_score {
    width: 100%;
    height: 200vh;
    background: linear-gradient(180deg, #08351B 0%, #000000 100%);
    color: white;

    h2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: clamp(1.63rem, calc(0.92rem + 3.54vw), 3.44rem);
        padding: 0rem;
        margin: 0rem;
        flex-wrap: wrap;
    }

    .your_score_continer {
        display: flex;
        min-height: 90vh;
        max-width: 100%;
        padding: 0rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin: 5rem;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #text_Chart {

        text-align: end;
        justify-content: center;
    }

    .your_score_pie {
        width: 100%;
    }
}

// this is for the charts 

.chart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
}

.chartPie {
    width: 28vw;
}

.your_score-text {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
}

// #myChartBar {
//     width: 30vw;
// }



// make more green

#make_more_green {
    width: 100%;
    height: 80vh;
    background-color: #0D8D42;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "PlantinMTProRg";

    .border_green {
        border: 1px solid white;
        border-radius: 50px;
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(1.25rem, calc(0.76rem + 2.44vw), 2.50rem);
    }

    .p_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p {
        width: 60%;
        text-align: center;
        font-family: "PlantinMTProRg";
        font-size: clamp(0.88rem, calc(0.73rem + 0.73vw), 1.25rem);
    }

    .button_for_more_green {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

//data for project 
#data_for_project {
    width: 100%;
    // height: 200vh;
    background-color: #F8F1EB;
    font-family: "PlantinMTProRg";

    .about_the_project {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .about_the_project_dev {
        border: 2px solid green;
        margin: 8rem;
        margin-left: 20rem;
        margin-right: 20rem;
        padding: 3rem;
        border-radius: 50px;
    }

    .about_the_project_p_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .about_the_project_p {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .about_the_project_p_container p {
        width: 50%;
        text-align: center;
        font-size: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
    }


    .data_for_project {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1rem;
    }

    .data_for_project article {
        width: 34%;

    }

    .about_the_project_p_container_up {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        padding: 1rem;
        border-radius: 20px;
    }

    .continer_p {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: clamp(1.50rem, calc(0.99rem + 2.56vw), 2.81rem);
    }

    .about_the_project_p_container_up p {
        text-align: center;
        width: 80%;
        font-size: clamp(1.13rem, calc(0.93rem + 0.98vw), 1.63rem);
    }

    .big_banner_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .data_for_project_big_banner {
        margin: 2rem;
        background-color: white;
        width: 65%;
        border-radius: 20px;
    }

    .about_the_project_p_container_banner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .container_text_big p {
        text-align: left;
        font-size: clamp(1.13rem, calc(0.93rem + 0.98vw), 1.63rem);
        margin-left: 1rem;
    }

    .container_text_big h2 {
        margin-left: 1rem;
    }

    .about_the_project_p_container_banner img {
        margin: 2rem;
    }
}


//this is for footer
footer {
    background-color: #0E6834;
    padding: 0rem;
    margin: 0rem;

    .main_section {
        width: 100%;
        padding-top: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-family: "PlantinMTProRg";
    }

    h3 {
        color: #75CA99;
        font-size: clamp(1.00rem, calc(0.78rem + 1.10vw), 1.56rem);
    }

    li {
        list-style-type: none;
        text-align: left;
        margin-top: 0.3rem;
    }

    ul {
        margin: 0rem;
        padding: 0rem;
    }

    li a {
        color: white;
        text-decoration: none;
        font-size: clamp(0.88rem, calc(0.78rem + 0.49vw), 1.13rem);
    }

    .Contact {
        width: 100%;
        margin-top: 5rem;
        margin-left: 10rem;
    }

    .Contact h4 {
        color: white;
        font-size: clamp(1.00rem, calc(0.78rem + 1.10vw), 1.56rem);
    }

    .SoMe_icons_and_Privicy {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: white;
        font-family: "PlantinMTProRg";
    }

    .SoMe_icons_and_Privicy ul {
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
    }

    .SoMe_icons_and_Privicy ul li {
        margin: 1rem;
    }
}


.hidden {
    display: none;
}

@media screen and (max-width: 1680px) { 

    .backgroundimage {
        height: 44vh;
    }
    
    footer {
        .Contact {
            margin-left: 6rem;
        }
    }
}


@media screen and (max-width: 1280px) {

    .backgroundimage {
        height: 44vh;
    }

    #section_with_numbers {
     

        .section_with_numbers_containers {
            width: 100%;
            flex-direction: row;
            padding-top: 0rem;
        }

        #for_border {
            width: 100%;
            text-align: center;
            border: 0px solid #21212133;
            padding-left: 0rem;
            padding-right: 0rem;
            margin: 0rem;
        }
    }

    #make_more_green {
        .border_green {
            width: 85%;
        }
    }


    #data_for_project {
        width: 100%;

        .about_the_project_dev {
            margin: 1rem;
            margin-top: 5rem;
            width: 70%;
        }

        .data_for_project article {
            // flex-direction: column;
            display: grid;
            width: 80%;
            margin: 1rem;
            margin-left: 0rem;
        }

        .about_the_project_p_container p {
            width: 100%;
        }

        .about_the_project_p_container_up {
            width: 100%;
            margin: 0rem;
        }

        .about_the_project_p_container_up p {
            width: 100%;
        }

        .about_the_project_p_container_up h2 {
            width: 100%;
            text-align: center;
        }

        .about_the_project_p_container_banner {
            flex-direction: column;
        }

        .data_for_project_big_banner {
            display: grid;
            width: 81%;
        }
    }


    footer {
        .Contact {
            margin-left: 3rem;
        }
    }

}

@media screen and (max-width: 780px) {
    #section_with_numbers {
    


        .section_with_numbers_containers {
            width: 100%;
            flex-direction: column;
            padding-top: 0rem;
        }
    }




    #data_for_project {
        .data_for_project_big_banner {
            display: grid;
            width: 90%;
        }

        .about_the_project_p_container_banner {
            flex-direction: column;
        }

        .about_the_project_p_container_banner img {
            margin: 0rem;
        }

        .container_text_big {
            width: 80%;
            text-align: center;
            margin: 0rem;
            padding: 0rem;
        }
    }

    footer {
        margin-top: auto;

        .main_section {
            width: 100%;
            display: grid;
            // margin-bottom: 1rem;
        }

        .main_section div {
            margin-bottom: 2rem;
            // flex-direction: row;
            // text-align: center;
        }

        .main_section div h3{
             font-size: 1.65rem;
        }

        .main_section div ul li a  {
            font-size: 1.15rem;
        }

        #footer_logo {
            margin-top: 2rem;
        }

        .Contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 0rem;
        }
    
        .Contact h4 {
        font-size: 2.15rem;
        }
    
        .SoMe_icons_and_Privicy {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .SoMe_icons_and_Privicy ul {
            display: flex;
            flex-direction: row;
            margin-left: 1rem;
        }

        .SoMe_icons_and_Privicy div p {
            margin: 1rem;
            font-size: 1.05rem;
        }
    
        .SoMe_icons_and_Privicy ul li {
            margin: 1rem;
            font-size: 1.15rem;
        }
    
    
    }

    
}